#ad-entry-sp-6,
#ad-overlay-bottom-sp-1,
#bannersub,
#bookmark-comment-unit,
#intro,
#logo a,
.share-button,
.icon,
.navigation,
.caption,
.double-rectangle,
img {
  display: none !important
}
:root {
  font-weight: 590;
  filter: invert(1) hue-rotate(180deg)
}
.search-text {
  font: unset
}
:any-link {
  display: contents
}